button {
    cursor: pointer;
}

.hide {
    display: none;
}

h1 {
    text-align: center;
}
#canvas {
    border: 1px solid #ccc;
    display: block;
    margin: 0 29.35%;
}

.user-form {
    max-width: 700px;
    margin: 20px auto;
}
form {
}
form input {
    margin: 10px;
    padding: 5px;
}
form button[type="submit"] {
    margin: 10px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.login .user-form {
    display: none;
}

.user-info {
    display: none;
}

.login .user-info {
    display: block;
}

.aside {
    border: 1px solid #ccc;
    min-width: 200px;
    width: 20%;
    padding: 10px;
}

.left-aside {
    float: left;
    text-align: center;
}
.right-aside {
    float: right;
}

.form-control {
    display: inline-block;
    width: auto;
    margin: 0 10px;
}
